name: IAC checks
on: [push]

jobs:
  tflint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Setup TFLinter
        uses: terraform-linters/setup-tflint@v2

      - name: Init
        run: tflint --init

      - name: Check terraform scripts
        shell: bash
        run: |
          tflint -f json | \
          jq -c 'del(..|.callers?)|.issues[]?,.errors[]?'| \
          jq -c '[leaf_paths as $path | {"key": $path | join("_"), "value": getpath($path)}] | from_entries' |
          jq -c --arg value "${GITHUB_ACTOR}" '.+{"actor": $value}' | \
          jq -c --arg value "${GITHUB_SERVER_URL}" '.+{"server_url": $value}' | \
          jq -c --arg value "${GITHUB_OWNER}" '.+{"owner": $value}' | \
          jq -c --arg value "${GITHUB_SHA}" '.+{"sha": $value}' | \
          jq -c --arg value "${GITHUB_REPOSITORY#*/}" '.+{"repository": $value}' | \
          jq -c --arg value "${GITHUB_REF_TYPE}" '.+{"ref_type": $value}' | \
          jq -c --arg value "${GITHUB_REF_NAME}" '.+{"ref_name": $value}' \
          > tflint.json

      - name: Send report to dataset output
        shell: bash
        env:
          DATASET_API_KEY: ${{ secrets.DATASET_API_KEY }}
        run: |
          curl -H "Content-Type: text/plain" \
          -H "Authorization: Bearer $DATASET_API_KEY" \
          --data-binary @tflint.json \
          -X POST "https://app.scalyr.com/api/uploadLogs?parser=json&logfile=tflint.json&host=github"
