name: IAC checks
on:
  push:
    branches:
      - master

jobs:
  tflint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Setup TFLinter
        uses: terraform-linters/setup-tflint@v2

      - name: Init
        run: tflint --init

      - name: Show version
        run: tflint --version

      - name: Check terraform scripts
        shell: bash
        run: |
          tflint -f json | \
          jq -c --arg repo "${GITHUB_REPOSITORY}" \ 'del(..|.callers?)|.issues[]?,.errors[]?|.+{"repo":$repo}'| \
          jq -c '[leaf_paths as $path | {"key": $path | join("_"), "value": getpath($path)}] | from_entries' \
          > tflint.json

      - name: Send report to dataset output
        shell: bash
        env:
          DATASET_API_KEY: ${{ secrets.DATASET_API_KEY }}
        run: |
          curl -H "Content-Type: text/plain" \
          -H "Authorization: Bearer $DATASET_API_KEY" \
          --data-binary @tflint.json \
          -X POST "https://app.scalyr.com/api/uploadLogs?parser=json&logfile=tflint.json&host=github"

      - name: Print env variables
        shell: bash
        run: printenv
